.carousel-control-prev {
    background-color: transparent !important;
}

.carousel-control-next {
    background-color: transparent !important;
}

.bg-info2 {
    background-color: #36ccc4 !important;
}
